@{
    Layout = "_Layout";
}

<section>
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to Book Store</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <a class="btn btn-primary btn-md mt-3" href="#" role="button">Search Books</a>
    </div>
</section>

<div class="container">
    <h3>Top Books</h3>
<div class="card-deck">
  <div class="card">
    <img src="~/images/461660.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text text-muted">Author name</p>
      <a href="#" class="btn btn-sm btn-secondary">View Details</a>
    </div>
  </div>
  <div class="card">
    <img src="~/images/461660.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text text-muted">Author name</p>
      <a href="#" class="btn btn-sm btn-secondary">View Details</a>
    </div>
  </div>
  <div class="card">
    <img src="~/images/461660.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text text-muted">Author name</p>
      <a href="#" class="btn btn-sm btn-secondary">View Details</a>
    </div>
  </div>
</div>
</div>
