@model IEnumerable<BookModel>
@{
  ViewData["Title"] = "Home";
}

<section>
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to Book Store</h1>
        <p class="lead">This is the world's most popular destination of book lovers.</p>

        <form method="GET" asp-action="Index" asp-controller="Home" asp-route-searchVal="shiva">
          <div class="form-row d-flex justify-content-center">
            <input type="search" class="form-control mr-sm-2 w-50" id="searchVal" placeholder="Enter title or author of the book here.." aria-label="Search" value="@ViewBag.searchVal" name="searchVal" required>
            @* <span class="text-danger field-validation-valid" data-valmsg-for="searchVal" data-valmsg-replace="true"></span> *@
            <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </form>
    </div>
</section>

@if(ViewBag.IsSearch == true)
{
  <div class="container">
    <h2 class="display-4">Search results</h2>
    @if(Model.Any())
    {
      <div class="row">
        @foreach (var book in Model)
        {
          <div class="col-md-6 col-lg-4">
              <partial name="_BookThumbnail" model="@book" />
          </div>
        }
      </div>
    }
    else
    {
      <p class="text-danger">No books found with that name</p>
    }
    
  </div>
}
else
{
  <div class="container">
    <h3 class="display-4">Top Books</h3>
    <div class="card-deck">
      <partial name="_BookThumbnail" model="new BookModel()" />
      <partial name="_BookThumbnail" model="new BookModel()" />
      <partial name="_BookThumbnail" model="new BookModel()" />
    </div>
  </div>
}
